:root {
   --bs-body-font-family: 'Poppins', sans-serif !important;
}

.bg {
   background-image: url(../images/background/bgkopi.png);
   background-size: 20%;
}

.bg-glass,
.form-control:focus {
   background: linear-gradient(to left, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05)) !important;
   box-shadow: 0 15px 35px rgba(0, 0, 0, 0.75) !important;
   backdrop-filter: blur(5px) !important; 
}

.c-glass {
   background: linear-gradient(to left, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05)) !important;
   box-shadow: 0 15px 35px rgba(0, 0, 0, 0.75) !important;
   backdrop-filter: blur(5px) !important; 
}

.glass {
   background: linear-gradient(to left, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05)) !important;
   backdrop-filter: blur(5px) !important;
}

.border-bot {
   border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}

.border-top {
   border-top: 1px solid rgba(255, 255, 255, 0.5);
}

.border-cus {
   border: 1px solid rgba(255, 255, 255, 0.25);
   border-top: 1px solid rgba(255, 255, 255, 0.5);
   border-left: 1px solid rgba(255, 255, 255, 0.5);
}

option {
   background-color: rgb(49, 49, 49);
}

.card-cus {
   opacity: 0;
   width: 100%;
   height: 100%;
   background: linear-gradient(to left, rgba(0, 0, 0, 0.700), rgba(0, 0, 0, 0.700));
   backdrop-filter: blur(25px);
   transform: translateY(50px);
   transition: 0.5s;
}

.list:hover .card-cus {
   opacity: 1;
   transform: translateY(0);
   transition: 0.5s;
}

.produk-cus {
   opacity: 0;
   width: 100%;
   height: 0;
   background: linear-gradient(to left, rgba(0, 0, 0, 0.700), rgba(0, 0, 0, 0.700));
   backdrop-filter: blur(25px);
   bottom: 0;
   transition: 0.5s;
}

.produk:hover .produk-cus {
   opacity: 1;
   height: 40%;
   transition: 0.75s;
}

.trans {
   overflow: hidden;

}

.form-control::placeholder {
   color: white !important;
}

.kopi {
   filter: invert();
}

.olshop img {
   width: 4em;
}

.best-seller {
   position: relative;
   background-color: rgba(40, 44, 49, 1);
}

.best-seller::before,
.best-seller::after {
   position: absolute;
   content: "";
   width: 100%;
   height: 76px;

   /* background-image untuk menambahkan gambar sebagai background */
   background-image: url(../images/background/garis-atas.png);

   /*background-size agar gambar latar menyesuaikan tinggi / lebar elemen */
   background-size: cover;

   top: -60px;
   left: 0;
   color: rgba(40, 44, 49, 1);
}

.best-seller::after {
   height: 60px;
   background-image: url(../images/background/garis-bawah.png);
   top: unset;
   bottom: -60px;
}

.about-us {
   max-width: 80%;
}

.about-us img {
   width: 800px;
}

.our-team {
   background-color: rgba(40, 44, 49, 1);
}

.radius {
   border-radius: 50px 0px 50px 0px !important;
}

.review {
   background-image: url(../images/background/bg-review.svg);
   background-size: contain;
   background-repeat: no-repeat;
   padding-left: 40px;
   padding-right: 40px;
   justify-content: space-around;
   text-align: center;
}

.testimoni img {
   width: auto;
   height: 60px;
   object-fit: cover;
}

.contact-us iframe {
   width: 100%;
   height: 300px;
   border: 0;
}

.kiri h1, .best-seller h1, .about-us h1, .our-team h1, .review h1, .list2 h1, .keranjang h1, .keranjang .metod, .keranjang .metod1 {
   font-family: 'Yellowtail', cursive;
}

.found {
   width: 30%;
}

/* animasi */

nav {
   transform: translateY(-100%);
   opacity: 0;
}

nav.active {
   transform: translateY(0);
   transition: 2s;
   opacity: 1;
}

header .kiri {
   transform: translateX(-60%);
   opacity: 0;
}

header.active1 .kiri {
   transform: translateX(0);
   transition: 1.5s;
   opacity: 1;
}

header .kanan {
   transform: translateX(60%);
   opacity: 0;
}

header.active1 .kanan {
   transform: translateX(0);
   transition: 1.5s;
   opacity: 1;
}

.best-seller h1, .our-team h1 {
   transform: translateY(30%);
   opacity: 0;
   transition: 1s;
   transition-delay: 0.3s;
   filter: blur(5px);
}

.best-seller.animate h1, .our-team.animate h1 {
   transform: translateY(0);
   transition: 1.5s;
   opacity: 1;
   transition-delay: 0.1s;
   filter: blur(0);
}

.best-seller .list-produk, .our-team .list-team {
   opacity: 0;
   transition: 1s;
   transform: scale(0.9);
   transition-delay: 0.3s;
}

.best-seller.animate .list-produk, .our-team.animate .list-team {
   opacity: 1;
   transition: 1.5s;
   transition-delay: 0.1s;
   transform: scale(1);
}

.best-seller p, .our-team p {
   transform: translateY(30%);
   opacity: 0;
   transition: 1s;
   transition-delay: 0.3s;
   filter: blur(5px);
}

.best-seller.animate p, .our-team.animate p {
   transform: translateY(0);
   transition: 1.5s;
   filter: blur(0);
   opacity: 1;
}

.about-us h1, .about-us p, .about-us img {
   transform: translateX(50%);
   transition: 2s;
   filter: blur(5px);
   opacity: 0;
   transition-delay: 0.75s;
}

.about-us.animate h1, .about-us.animate p, .about-us.animate img {
   transition: 1.5s;
   filter: blur(0);
   transform: translateX(0);
   opacity: 1;
}

.review h1, .review p {
   transform: translateY(-50%);
   transition: 1.5s;
   filter: blur(5px);
   opacity: 0;
}

.review.animate h1, .review.animate p {
   transform: translateY(0);
   transition: 2s;
   filter: blur(0);
   opacity: 1;
}

.review .r1, .review .r3 {
   transform: translateY(50%);
   transition: 1.5s;
   backdrop-filter: blur(5px);
   filter: blur(5px);
   opacity: 0;
}

.review.animate .r1, .review.animate .r3 {
   transform: translateY(0);
   transition: 2s;
   backdrop-filter: blur(5px);
   filter: blur(0);
   opacity: 1;
}

.review .r2 {
   transform: translateY(-50%);
   transition: 1.5s;
   backdrop-filter: blur(5px);
   filter: blur(5px);
   opacity: 0;
}

.review.animate .r2 {
   transform: translateY(0);
   transition: 2s;
   backdrop-filter: blur(5px);
   filter: blur(0);
   opacity: 1;
}

.contact-us iframe {
   transform: translateY(-50%);
   transition: 1.5s;
   filter: blur(5px);
   opacity: 0;
}

.contact-us.animate iframe {
   transform: translateY(0);
   transition: 2s;
   filter: blur(0);
   opacity: 1;
}

.contact-us .k2 {
   transform: translateY(50%);
   transition: 1.5s;
   filter: blur(5px);
   opacity: 0;
}

.contact-us.animate .k2 {
   transform: translateY(0);
   transition: 2s;
   filter: blur(0);
   opacity: 1;
}

.contact-us .k1 {
   transform: translateX(-50%);
   transition: 1.5s;
   filter: blur(5px);
   opacity: 0;
}

.contact-us.animate .k1 {
   transform: translateX(0);
   transition: 2s;
   filter: blur(0);
   opacity: 1;
}

.contact-us .k3 {
   transform: translateX(50%);
   transition: 1.5s;
   filter: blur(5px);
   opacity: 0;
}

.contact-us.animate .k3 {
   transform: translateX(0);
   transition: 2s;
   filter: blur(0);
   opacity: 1;
}

.list2 h1, .list2 p, .list2 hr {
   transform: translateY(-30%);
   transition: 1s;
   filter: blur(5px);
   opacity: 0;
}

.list2.active2 h1, .list2.active2 p, .list2.active2 hr {
   transform: translateY(0);
   transition: 1s;
   filter: blur(0);
   opacity: 1;
}

.list2 .utility .btn, .list2 .utility .form-control, .list2 .utility .form-floating {
   transform: translateY(30%);
   transition: 1s;
   backdrop-filter: blur(5px);
   filter: blur(5px);
   opacity: 0;
}

.list2.active2 .utility .btn, .list2.active2 .utility .form-control, .list2.active2 .utility .form-floating {
   transform: translateY(0);
   transition: 1s;
   backdrop-filter: blur(5px);
   filter: blur(0);
   opacity: 1;
}

.keranjang h1 {
   transform: translateY(-40%);
   transition: 1s;
   filter: blur(5px);
   opacity: 0; 
}

.keranjang.active3 h1 {
   transform: translateY(0);
   transition: 1s;
   filter: blur(0);
   opacity: 1; 
}

.keranjang .tampilan {
   transform: translateY(-40%);
   transition: 1s;
   backdrop-filter: blur(5px);
   filter: blur(5px);
   opacity: 0; 
}

.keranjang.active3 .tampilan {
   transform: translateY(0);
   transition: 1s;
   backdrop-filter: blur(5px);
   filter: blur(0);
   opacity: 1; 
}

.keranjang .metod {
   transform: translateX(-40%);
   transition: 1s;
   filter: blur(5px);
   opacity: 0; 
}

.keranjang.active3 .metod {
   transform: translateX(-0);
   transition: 1s;
   filter: blur(0);
   opacity: 1; 
}

.keranjang .metod1 {
   transform: translateX(40%);
   transition: 1s;
   filter: blur(5px);
   opacity: 0; 
}

.keranjang.active3 .metod1 {
   transform: translateX(-0);
   transition: 1s;
   filter: blur(0);
   opacity: 1; 
}

.keranjang .order {
   transform: translateX(-40%);
   transition: 1s;
   opacity: 0; 
}

.keranjang.active3 .order {
   transform: translateX(-0);
   transition: 1s;
   opacity: 1; 
}

.keranjang .pay {
   transform: translateX(40%);
   transition: 1s;
   opacity: 0; 
}

.keranjang.active3 .pay {
   transform: translateX(-0);
   transition: 1s;
   opacity: 1; 
}

/* Custom Scroll Bar */

::-webkit-scrollbar {
   display: none;
}

