:root {
   --bs-body-font-family: 'Poppins', sans-serif;
}

.bg {
   background-image: url(../images/background/bgkopi.png);
   background-size: 20%;
}

.bg-glass,
.form-control:focus {
   background: linear-gradient(to left, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05));
   box-shadow: 0 15px 35px rgba(0, 0, 0, 0.75);
   backdrop-filter: blur(5px);
}

.border-bot {
   border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}

.border-top {
   border-top: 1px solid rgba(255, 255, 255, 0.5);
}

.border-cus {
   border: 1px solid rgba(255, 255, 255, 0.25);
   border-top: 1px solid rgba(255, 255, 255, 0.5);
   border-left: 1px solid rgba(255, 255, 255, 0.5);
}

option {
   background-color: rgb(49, 49, 49);
}

.card-cus {
   opacity: 0;
   width: 100%;
   height: 100%;
   background: linear-gradient(to left, rgba(0, 0, 0, 0.700), rgba(0, 0, 0, 0.700));
   backdrop-filter: blur(25px);
   transform: translateY(50px);
   transition: 0.5s;
}

.card-cus:hover {
   opacity: 1;
   transform: translateY(0);
   transition: 0.5s;
}

.trans {
   overflow: hidden;

}

.form-control::placeholder {
   color: white;
}

.kopi {
   filter: invert();
}